body {
  font-family: 'montserrat', sans-serif;
  font-weight: 300;
  font-style: italic;
}
a {
  text-decoration: none;
  color: unset;
}
ul,
li {
  list-style: none;
}
.header {
  font-size: 20px;
  line-height: 100px;
  padding: 0 15px;
  top: 0;
  left: 0;
  z-index: 99;
  font-family: 'montserrat', sans-serif;
  font-weight: 900;
  font-style: italic;
}
.header span {
  font-size: 30px;
}
main {
  display: flex;
  padding: 0 25px;
}
.gird-left {
  width: 280px;
  margin-right: 20px;
}
#container {
  width: calc(100vw - 280px);
}
/* fluid 5 columns */
.grid-sizer,
.grid-item {
  width: calc(25% - 18px);
  margin-left: 10px;
  margin-bottom: 10px;
  background: #fff;
  border: 4px solid #000;
}
.grid-item.show > div {
  opacity: 1;
}
/* 2 columns */
.grid-item--width2 {
  width: 40%;
  background: #fff;
  border: 1px solid #000;
}
.tile {
  line-height: 60px;
  padding: 0 5px;
  font-size: 30px;
}
.pic img {
  width: 100%;
}
.box {
  line-height: 25px;
  padding: 10px;
  color: #000;
  font-size: 30px;
  font-family: 'montserrat', sans-serif;
  font-weight: 900;
}
.box i {
  color: #ff0000;
}
.box span {
  color: #000cff;
  text-decoration: line-through;
}
.street {
  padding: 10px 5px;
  font-size: 20px;
  line-height: 30px;
  text-align: right;
  border-top: 1px solid #ddd;
}
.cate {
  border: 4px solid #000;
  background: #dcdcdc;
  margin-bottom: 20px;
  padding: 10px;
}
.cate li {
  line-height: 44px;
  font-size: 30px;
  text-decoration: underline;
  cursor: pointer;
}
.cate li.blod {
  font-family: 'montserrat', sans-serif;
  font-weight: 900;
  font-style: italic;
}
.cate li.active {
  border: 2px dashed #000;
}
.cate li.active.a06ff00 {
  border-color: #06ff00;
}
.cate li.active.ff0000 {
  border-color: #ff0000;
}
.cate li.active.a000cff {
  border-color: #000cff;
}
.cate li.active.aff0000 {
  border-color: #ff0000;
}
.street-cate li.manha {
  color: #ff8400;
}
.street-cate li.brk {
  color: #f0ff00;
}
.street-cate li.qus {
  color: #f600ff;
}
.street-cate li.manha.active {
  border-color: #ff8400;
}
.street-cate li.brk.active {
  border-color: #f0ff00;
}
.street-cate li.qus.active {
  border-color: #f600ff;
}
.button {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.detail {
  margin: 0 auto;
  width: 100%;
  max-width: 550px;
  text-align: center;
}
.detail .upload-btn {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  min-width: 220px;
}
.detail .upload-btn input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.detail .upload-btn .button {
  margin-bottom: 10px;
}
.detail .tip {
  margin-bottom: 20px;
  font-size: 10px;
}
.detail-content {
  padding: 20px;
  text-align: left;
  box-sizing: border-box;
}
.detail-content .title {
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 600;
}
.detail-content .item {
  margin-bottom: 10px;
}
.detail-content label {
  font-size: 26px;
}
.detail-content input {
  padding-left: 20px;
  width: 60%;
  font: inherit;
  font-size: 26px;
  border: 0;
  border-bottom: 1px dashed #000;
  background: transparent;
  outline: none;
}
.detail > .button {
  margin: 40px auto;
  width: 220px;
  cursor: pointer;
}
.nomatch {
  text-align: center;
  font-size: 35px;
  padding-top: 80px;
}
.home-grid {
  display: flex;
}
.home-grid .left {
  width: 50%;
  margin-right: 10px;
}
.home-grid .right {
  width: 50%;
}
.home-grid .right > div {
  border: 4px solid #000;
  padding: 10px;
}
.left .top {
  display: flex;
  margin-top: 20px;
  padding: 4px;
  border: 1px solid #000;
}
.img-box {
  position: relative;
}
.wt-40 {
  width: 40%;
}
.wt-30 {
  width: 30%;
}
.msg-box {
  font-size: 30px;
  padding: 4px;
}
.msg-box span {
  color: #000cff;
  text-decoration: underline;
}
.msg-box i {
  text-decoration: underline;
  color: #ff0000;
}
.img-box span {
  position: absolute;
  bottom: 10px;
  left: 6px;
  color: #ff0000;
  text-decoration: underline;
  font-size: 25px;
}
.img-box i {
  padding: 5px 13px;
  background: #ffde00;
  color: #ff0000;
  position: absolute;
  font-size: 22px;
  z-index: 2;
}
.img-box i.btr {
  bottom: 3px;
  right: 0;
}
.img-box i.tpr {
  right: 0;
  top: 0;
}
.img-box i.tpl {
  top: 0;
  left: 0;
}
.img-box img {
  width: 100%;
}
.img-box.img2 {
  display: flex;
}
.img-box.img2 img {
  width: 50%;
}
.bottom {
  display: flex;
  margin-top: 10px;
}
.bottom .bt-left {
  width: calc(50% - 5px);
  margin-right: 5px;
}
.bottom .bt-left > div {
  border: 4px solid #000;
  padding: 4px;
}
.bottom .bt-right {
  width: calc(50% - 5px);
  margin-left: 5px;
}
.btn-more {
  padding: 40px 0;
  font-size: 1.5rem;
  background: #ffde00;
  text-align: center;
  text-decoration: underline;
  color: #ff0000;
  cursor: pointer;
  border: 4px solid #000;
  font-family: 'montserrat', sans-serif;
  font-weight: 900;
}
.speci-txt {
  position: absolute;
  top: 0;
  right: 0;
  color: #000cff;
}
.speci-txt p {
  text-decoration: underline;
  font-size: 25px;
  text-align: right;
}
.speci-txt p:last-child {
  color: #ff0000;
}
@media screen and (max-width: 1700px) {
  .top .msg-box {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 1400px) {
  .left .top {
    flex-direction: column;
  }
  .msg-box {
    font-size: 1.4rem;
  }
  .wt-30 {
    width: 100%;
  }
  .wt-40 {
    width: 100%;
  }
}
